# 1. Ignore the other specific directories
/Analisis/
/Fis_clima/
/LaTex/
/Meteo/
/TFM/
/tracking-options_Elsa-Copy1.ipynb
*.png
*.parquet

# 2. Ignore common system/python junk that might be inside TFM
**/__pycache__/
**/.DS_Store
**/.ipynb_checkpoints/